<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">  </div>
  </div>
</div>
<div class="container-fluid mt--7">
  
  <div class="row">
    <div class="col"> 
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">ADD STAFFS </h3>
        </div>  
        <div class="card-body">
          <form [formGroup]="staffForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Name">Staff Name</label>
                  <input type="text" formControlName="Name" class="form-control" id="Name" placeholder="Enter name">
                  <div *ngIf="staffForm.get('Name').invalid && staffForm.get('Name').touched" class="text-danger">
                    Name is required.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" formControlName="username" class="form-control" id="username" placeholder="Enter username">
                  <div *ngIf="staffForm.get('username').invalid && staffForm.get('username').touched" class="text-danger">
                    Username is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" formControlName="password" class="form-control" id="password" placeholder="Enter password">
                  <div *ngIf="staffForm.get('password').invalid && staffForm.get('password').touched" class="text-danger">
                    Password is required.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="emailId">Email</label>
                  <input type="text" formControlName="emailId" class="form-control" id="emailId" placeholder="Enter email">
                  <div *ngIf="staffForm.get('emailId').invalid && staffForm.get('emailId').touched" class="text-danger">
                    Email is required.
                  </div>
                </div>
              </div>
            </div>
            
            <!-- <div class="form-group">
              <label for="role">Role</label>
              <input type="text" formControlName="role" class="form-control" id="role" placeholder="Enter role">
              <div *ngIf="staffForm.get('role').invalid && staffForm.get('role').touched" class="text-danger">
                Role is required.
              </div>
            </div> -->



            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="role">Role</label>
              <select formControlName="role" class="form-control" id="role">
                <option value="">Select a role</option>
                <option value="admin">Admin</option>
                <option value="staff">Staff</option>
              </select>
              <div *ngIf="staffForm.get('role').invalid && staffForm.get('role').touched" class="text-danger">
                Role is required.
              </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <button  style="margin-top: 27px;" type="submit" [disabled]="staffForm.invalid" class="btn btn-success mb-4">Submit</button>
                </div>
              </div>
            </div>





            <!-- <div class="form-group">
              <label for="role">Role</label>
              <select formControlName="role" class="form-control" id="role">
                <option value="">Select a role</option>
                <option value="admin">Admin</option>
                <option value="staff">Staff</option>
              </select>
              <div *ngIf="staffForm.get('role').invalid && staffForm.get('role').touched" class="text-danger">
                Role is required.
              </div>
            </div>
            
            <button type="submit" [disabled]="staffForm.invalid" class="btn btn-success mb-4">Submit</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
