<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">  </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">OFFER MASTER</h3>
          </div>  
          <div class="col text-right">
            <button [routerLink]="['/addoffers']"   class="btn btn-primary  mb-4">Add</button>
            <!-- <a  [routerLink]="['/addProduct']"  class="btn btn-success">Add</a> -->
          </div>      
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Offer Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody> 
                <tr>
                  <td>1</td>
                  <td>Offer 1</td>
                  <td>Offer</td>
                  <td>
                    <a [routerLink]="['/addoffers']" class="btn btn-sm btn-default">
                      <i class="fas fa-edit" aria-hidden="true"></i>
                    </a>
                    <button class="btn btn-sm btn-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Offer 2</td>
                  <td>Offer</td>
                  <td>
                    <a [routerLink]="['/addoffers']" class="btn btn-sm btn-default">
                      <i class="fas fa-edit" aria-hidden="true"></i>
                    </a>
                    <button class="btn btn-sm btn-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Offer 3</td>
                  <td>Offer</td>
                  <td>
                    <a href="#!" class="btn btn-sm btn-default">
                      <i class="fas fa-edit" aria-hidden="true"></i>
                    </a>
                    <button class="btn btn-sm btn-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Offer 4</td>
                  <td>Offer</td>
                  <td>
                    <a href="#!" class="btn btn-sm btn-default">
                      <i class="fas fa-edit" aria-hidden="true"></i>
                    </a>
                    <button class="btn btn-sm btn-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Offer 5</td>
                  <td>Offer</td>
                  <td>
                    <a href="#!" class="btn btn-sm btn-default">
                      <i class="fas fa-edit" aria-hidden="true"></i>
                    </a>
                    <button class="btn btn-sm btn-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>   
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  